body {
  background-color: lightblue;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: beige;
  border-width: 5px;
  width: 5%;
}
img {
  border-radius: 50%;
}
h1 {
  color: darkblue;
}
h3 {
  color: darkblue;
}
